$very-dark-grey: #20212c;
$dark-grey: #2b2c37;
$light-violet: #635fc7;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 1.7fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "topbar"
    "main__container";

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-area: topbar;
    padding: 16px;
    background-color: $dark-grey;
    .header__board-tittle {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      .tittle {
        font-size: 1rem;
        color: #fff;
        padding-left: 1em;
        letter-spacing: 1px;
      }
      .header__icon {
        padding-left: 0.5em;
      }
    }
    .header__add-task {
      display: flex;
      flex-direction: row;
      align-items: center;

      .add-task__button {
        background-color: $light-violet;
        padding: 0.4rem 1.2rem;
        border-radius: 25px;
        opacity: 25%;
        margin-right: 1em;
      }
      .add-task__icon {
        padding: 20px;
      }
    }
  }
  .sidebar {
    display: none;
    background-color: $dark-grey;
  }
  .main__container {
    grid-area: main__container;
    background-color: $very-dark-grey;
  }
}
